<form action="/admin/clients/add" method="post">
  <form [formGroup]="addClient">
    <input type="text" placeholder="Entrez le nom et le prénom du nouveau client" formControlName="name" required>
    <button type="submit" class="btn btn-success" (click)="addClientAction()">Ajouter</button>
  </form>
</form>
<hr>
<div class="text-center">
  <input size="80" type="text" id="name" placeholder="Entrez le nom d'un client à rechercher" onkeyup="recherche(this)" autocomplete="off">
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Solde</th>
    <th scope="col">Adhérent</th>
  </tr>
  </thead>
  <tbody id="tableau">


  <tr on *ngFor="let client of clients|async" routerLink="{{client.id}}" class="table-danger">
    <th> {{client.name}}</th>
    <td> {{client.balance/100|currency}}
    </td>
    <td>
      gerer avec node
    </td>
  </tr>





  </tbody>
</table>






